<?xml version="1.0" ?>
<launch>

 <!-- 3D sensor -->
  <arg name="3d_sensor" default="$(env TURTLEBOT_3D_SENSOR)"/>  <!-- r200, kinect, asus_xtion_pro -->
  <!-- Run the map server
  <node name="map_server" pkg="map_server" type="map_server" args="$(find sim_platform)/launch/maps/ev_office/ev_office.yaml"/> 
	-->
   <!--- Run AMCL 
  <include file="$(find amcl)/examples/amcl_diff.launch" />-->

 <!-- Map server -->
  <arg name="map_file" default="$(find sim_platform)/maps/sim_home_map_cartographer_0.01_2.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <arg name="custom_amcl_launch_file" default="$(find turtlebot_navigation)/launch/includes/amcl/$(arg 3d_sensor)_amcl.launch.xml"/>
  <arg name="initial_pose_x" default="1.5000"/>
  <arg name="initial_pose_y" default="-1.5000"/> 
  <arg name="initial_pose_a" default="0.0"/>
  <include file="$(arg custom_amcl_launch_file)">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
   </include>

   <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="hector_trajectory_server" output="screen">
    <param name="target_frame_name" type="string" value="/map" />
    <param name="source_frame_name" type="string" value="/base_link" />
    <param name="trajectory_update_rate" type="double" value="4" />
    <param name="trajectory_publish_rate" type="double" value="1" />
  </node>

</launch>
